.perfil-container{
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:  var(--black);
    border-radius: 12px;
    box-shadow: 6px 6px 12px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99;

    .perfil-top{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;

        .perfil-badge{
            box-sizing: content-box;
            padding: 5px 10px;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-weight: bolder;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            background-color: var(--red);
            margin-bottom: 16px;
        }

        .perfil-photo{
            width: 180px;
            height: 180px;
            border: 8px solid #202024;
            outline: 3px solid white;
            border-radius: 50%;
            cursor: pointer;
        }

        .perfil-infos{
            margin-top: -40px;
            display: flex;
            flex-direction: column;
            align-items: center;   

            .perfil-name{
                font-size: 22px;
                font-weight: bolder;
                color: white;
                margin-top: 12px;
            }

            .perfil-nickname{
                font-weight: bold;
                color: white;
                font-size: 16px;
                margin-top: 6px;
            }

            .perfil-course{
                text-align: center;
                color: white;
                font-weight: bold;
                font-size: 16px;
                margin-top: 6px;
            }
        }

        .perfil-turma{
            font-weight: bold;
            font-size: 16px;
            color: var(--red);
            margin-top: 12px;
        }

        .perfil-curso{
            font-weight: bold;
            color: var(--white);
            margin-top: 12px;
        }
    }

    .divisor{
        width: 100%;
        margin-top: 14px;
        border: 1px solid black;
    }

    .perfil-bottom{
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .perfil-title{
            font-weight: bolder;
            color: white;
            font-size: 20px;
        }

        .perfil-row{
            display: flex;
            flex-direction: row;
            width: 40%;
            height: auto;
            justify-content: space-around;
            gap: 14px;
            margin-top: 12px;
            margin-bottom: 12px;
        
            .perfil-icon{
                width: 38px;
                height: 38px;
                color: white;
                padding: 5px;
                border-radius: 6px;
                box-shadow: 4px 4px 6px black;
            }

            .whatsapp{
                color: #25D366;
                background-color: #188640;
            }

            .twitter{
                color: #1DA1F2;
                background-color: #156fa7;

            }

            .instagram{
                color: #E1306C;
                background-color: #6b0829;
            }
        }

        .btn-more{
            color: white;
            font-weight: bold;
            margin-top: 12px;
        }

        .btn-perfil{
            width: 70%;
            height: 40px;
            border-radius: 8px;
            border: none;
            background-color: var(--red-dark);
            color: var(--white);
            font-weight: bolder;
            font-size: 16px;
            margin-top: 16px;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        }
    }
}

.mt-4{
    margin-top: 16px;
}