.conteudo-container-screen{
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    padding: 100px 20px;

    .conteudo-options{
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 20px;
        background-color: var(--black);
        border-radius: 12px;
        box-shadow: 4px 4px 6px black;

        .option-icon{
            font-size: 32px;
            color: var(--white);
        }
    }
}

.conteudo-col{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    .conteudo-welcome{
        box-sizing: content-box;
        height: auto;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        background-color: var(--black);
        align-items: center;
        flex-direction: column;
        border-radius: 12px;
        box-shadow: 4px 4px 6px black;
        padding: 10px 0px;

        .conteudo-name{
            color: var(--white);
            font-size: 30px;
            font-weight: bolder;
        }

        .conteudo-assunto{
            font-size: 18px;
            margin-top: 10px;
            color: var(--grey-300);
        }
    }
}