.disciplina-container{
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--background);
    padding: 40px 0px;

    .assuntos{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

.disciplina-col{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 20px 40px;

    .disciplina-welcome{
        margin-top: 40px;
        height: auto;
        margin-bottom: 20px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;

        
        .disciplina-title{
            margin-top: 20px;
            font-weight: bolder;
            font-size: 32px;
            color: var(--white);
            text-align: center;
        }

        .disciplina-subtitle{
            color: white;
        }

        .disciplina-professores{
            font-weight: bolder;
            font-size: 18px;
            color: white;
            margin-top: 12px;
        }

        .professores{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 14px;
            width: 100%;
            margin-top: 12px;
            align-items: center;
            justify-content: center;

            .professor-avatar{
                width: 45px;
                height: 45px;
                border-radius: 50%;
                box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);
            }
        }
    }

    .intro{
        color: white;
        font-size: 14px;
        margin-bottom: 16px;
        padding-bottom: 20px;
        border-bottom: 1px solid var(--grey-200);
    }
}

.disciplina-row{
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
    height: 95%;
}