*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
}

.btn-full{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: none;
    background-color: var(--red-mid);
    color: var(--white);
    font-weight: bolder;
    font-size: 20px;
    margin-top: 16px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

:root{
    --background: #121214;
    --black: #202024;
    --gray: #3c3c40;
    --white: #FDFDFD;
    --red: #CE2029;

    --red-light: #FC4737;
    --red-mid: #D73628;
    --red-dark: #AD1E12;
    --red-low: #42110D;

    --success-light: #04D361;
    --success-base: #1B873F;
    --success-low: #051B0D;

    // Cinzas
    --grey-100: #E1E1E6;
    --grey-200: #C4C4CC; // Text-base
    --grey-300: #8D8D99; // Text-support
    --grey-400: #7C7C8A; // Placeholder
    --grey-500: #505059;
    --grey-900: #121214;
    --grey-950: #09090A;
}
