.today-container{
    width: 100%;
    background-color: var(--black);
    border-radius: 12px;
    align-items: flex-start;
    cursor: pointer;
    box-shadow: 4px 4px 10px black;

    .today-image{
        height: 150px;
        width: 100%;
        background-image: url('../../assets/Imagens/todaybackground.jpg');
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .today-content{
        padding: 10px;
        display: flex;
        flex-direction: column;
    
        .today-row{
            display: flex;
            flex-direction: row;
        }
    }

    .today-name{
        font-weight: bolder;
        font-size: 16px;
        color: var(--red);
    }

    .today{
        font-size: 14px;
        color: var(--red);
        font-weight: bold;
        margin-top: 4px;
    }

    .aulas{
        margin-top: 10px;
        display: flex;
        flex-direction: column;

        .aula{
            margin-bottom: 8px;
            display: flex;
            flex-direction: column;
            cursor: pointer;
            color: var(--white);
            
            .aula-name{
                font-weight: bolder;
                font-size: 16px;
            }
            
            .aula-assunto{
                font-weight: bold;
                width: 270px;
                font-size: 12px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}